# The MariaDB configuration files

[client-server]
# Import all .cnf files from configuration directory
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mariadb.conf.d/

[mysqld]
#datadir=/docker_mysqldata
skip-networking=0
skip-bind-address
#tmpdir=/your/new/temp
